@tailwind base;
@tailwind components;
@tailwind utilities;

.zidx-1 {
  z-index: 1;
}

.zidx-2 {
  z-index: 2;
}

.zidx-3 {
  z-index: 3;
}

.zidx-4 {
  z-index: 4;
}

.zidx-5 {
  z-index: 5;
}

/* 

  Estilos Globais Adicionais
  
*/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1360px;
  overflow-x: hidden;
  @apply bg-white text-gray-900 mx-auto;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* 
  
  Navbar items

*/
.nav-link {
  @apply relative hover:text-primary-dark transition-all duration-300;
}

.nav-link span {
  @apply block absolute left-0 bottom-0 w-0 h-0.5 bg-primary transition-all duration-300;
}

.nav-link:hover span {
  @apply w-full;
}


/* 

  About

*/
.about-icons {
  @apply w-10 h-10 border-primary shadow-md border p-2 rounded-full cursor-pointer bg-gray-400 hover:bg-gray-700 hover:scale-110 transition-all flex items-center justify-center;
}