@tailwind base;
@tailwind components;
@tailwind utilities;

.zidx-2 {
  z-index: 2;
}

.zidx-3 {
  z-index: 3;
}

.zidx-4 {
  z-index: 4;
}

.zidx-5 {
  z-index: 5;
}


/* Estilos Globais Adicionais */
body {
  overflow-x: hidden;
  @apply bg-white text-gray-900;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* 
Navbar items
*/
.nav-link {
  @apply relative hover:text-primary-dark transition-all duration-300;
}

.nav-link span {
  @apply block absolute left-0 bottom-0 w-0 h-0.5 bg-primary transition-all duration-300;
}

.nav-link:hover span {
  @apply w-full;
}